  html {
    font-size: 20px;
    font-family: 'Lusitana', serif;
  }

  h1 {
    text-align: center;
  }

  p.note
  {
       -moz-border-radius: 6px;
       -webkit-border-radius: 6px;
       background-color: #f0f7fb;
       border: solid 1px #3498db;
       border-radius: 6px;
       line-height: 18px;
       overflow: hidden;
       padding: 12px;
  }